<%- include ./partial/header.ejs %>
<%- include ./partial/nav.ejs %>

  <div class="flex-container">
    <h1>New Post</h1>
    <h2><%= city.name %></h2>
  </div>
  <div class="flex-container">
    <form action="/posts/new" method="POST">
      <input name="city_id" value="<%= cityId %>" style="display:none">
      <input name="title" type="text" placeholder="Post Title" />
      <textarea name="content" type="text" placeholder="Post body" > </textarea>
      <input type="submit" name="submit-btn" value="Submit">
      <!-- <button inputype="submit"> Submit </button> -->
    </form>
  </div>

<%- include ./partial/footer.ejs %>
