<%- include ./partial/header.ejs %>

    <div class="page-column">
      <div class="post-info">
        <h3><%= post.title %></h3>
        <h4><%= post.full_name %></h4>
        <p><%= post.content %></p>


<%- include ./partial/footer.ejs %>
