<%- include ./partial/header.ejs %>
<%- include ./partial/nav.ejs %>

  <div class="basic-info">
    <div id='editable-profile'>
      <div>Name: <span id="fullname"><%= user.fullname %></span></div>
      <div>Current City: <span id="city"><%= user.current_city %></span> </div>
    </div>
    <div>Date Joined: <%= signupDate %></div>
    <% if (ownPage){ %>
      <button type="submit" formaction='/edit' id="edit-save">Edit Profile</button>
      <% } %>
  </div>
  <div class="post-info">
    <% posts.forEach((post) => { %>
      <div id=<%= post.id %>>
        <a href='/post/<%= post.id %>'><%= post.title %></a>
        <%= post.city_id %>
        <%= post.content.substring(0, 140) %>
      </div>
    <% }) %>
  </div>

<%- include ./partial/footer.ejs %>
