<%- include ./partial/header.ejs %>
  <div class="basic-info">
    <div id='editable-profile'>
      <div>Name: <span id="fullname"><%= user.fullname %></span></div>
      <div>Current City: <span id="city"><%= user.city %></span> </div>
    </div>
    <div>Date Joined: <%= user.join_date %></div>

    <% if (ownPage){ %>
      <button type="submit" formaction='/edit' id="edit-save">Edit Profile</button>
      <% } %>
  </div>
  <div class="post-info">
    <% posts.forEach((post) => { %>
      <div id=<%= post.id %>>
        <%= post.title %>
        <%= post.city %>
        <%= post.content.substring(0, 140) %>
      </div>
    <% }) %>
  </div>

<%- include ./partial/footer.ejs %>
