<%- include ./partial/header.ejs %>

<div class="page-column">
  <div class="city-info">
    <h3><%= cities.city_title %></h3>
    <h4><%= posts.title %></h4>
    <h4><%= posts. %></h4>
    <p><%= cities.content %></p>


<%- include ./partial/footer.ejs %>
